@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);

:root {
  --dark--mode--background: #13131c;
  --light--mode--background: #ddd;
}

* {
  box-sizing: border-box;
}
body {
  /* Dark mode */
  background-color: var(--dark--mode--background);
  /* light mode */
  /* background-color: var(--light--mode--background);
   color: var(--dark--mode--background); */

  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
