@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);

:root {
  --dark--mode--background: #13131c;
  --light--mode--background: #ddd;
  --font--mid: #222;
}

* {
  box-sizing: border-box;
}
body {
  /* Dark mode */
  background-color: var(--dark--mode--background);
  color: var(--font--mid);
  /* light mode */
  /* background-color: var(--light--mode--background);
   color: var(--dark--mode--background); */

  font-family: "Lato", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.container {
  background-color: #fff;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vw;
  padding: 50px;
}
.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -50px;
  left: -50px;
}
.circle {
  background-color: #ff7979;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: transform 0.5s linear;
}
.container.show-nav .circle {
  transform: rotate(-70deg);
}
.circle button {
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: 45%;
  height: 50px;
  background: transparent;
  font-size: 13px;
  color: #fff;
  border: 0;
}
.circle button:focus {
  outline: none;
}
.circle button#open {
  left: 60%;
}
.circle button#close {
  top: 60%;
  left: 53%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  left: 0;
  bottom: 40px;
  z-index: 100;
}
nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 21px;
}
nav ul li {
  text-transform: uppercase;
  color: #ffffff;
  margin: 40px 0;
  transform: translate(-100%);
  transition: transform 0.5s ease-in;
}
nav ul li i {
  font-size: 20px;
  font-style: normal;
  letter-spacing: 5px;
  padding: 21px;
  margin-right: 10px;
}
nav ul li + li {
  margin-left: 15px;
  transform: translate(-150%);
}
nav ul li + li + li {
  margin-left: 30px;
  transform: translate(-200%);
}

.content img {
  max-width: 100%;
}
.content {
  max-width: 100%;
  margin: 0;
}
.content h1 {
  margin: 0;
}
.content small {
  font-style: italic;
  color: #555;
}
.content p {
  color: #333;
  line-height: 1.5;
}
